<table class="table-auto w-full mt-6 bg-white rounded-lg shadow-md">
  <thead class="bg-purple-700 text-white">
    <tr>
      <th class="p-3">No</th>
      <th class="p-3 text-left">Nama Mahasiswa</th>
      <th class="p-3 text-center">Hadir</th>
      <th class="p-3 text-center">Tidak Hadir</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((mhs, i) => { %>
      <tr class="border-b hover:bg-purple-50">
        <td class="p-3 text-center"><%= i + 1 %></td>
        <td class="p-3"><%= mhs.nama %></td>
        <td class="p-3 text-center"><%= mhs.Hadir %></td>
        <td class="p-3 text-center"><%= mhs.Tidak_Hadir %></td>
      </tr>
    <% }) %>
  </tbody>
</table>