<h2>Daftar Kehadiran Mahasiswa</h2>
<table border="1" cellpadding="8">
    <tr>
        <th>Nama Mahasiswa</th>
        <th>Jumlah Hadir</th>
        <th>Jumlah Tidak Hadir</th>
    </tr>
    <% data.forEach(mhs => { %>
    <tr>
        <td><%= mhs.nama %></td>
        <td><%= mhs.hadir %></td>
        <td><%= mhs.tidak_hadir %></td>
    </tr>
    <% }) %>
</table>